# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
@EXPLICIT
https://conda.anaconda.org/pytorch/win-64/cuda100-1.0-0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/blas-1.0-mkl.conda
https://conda.anaconda.org/conda-forge/win-64/ca-certificates-2020.6.20-hecda079_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/icc_rt-2019.0.0-h0cc432a_1.conda
https://repo.anaconda.com/pkgs/main/win-64/intel-openmp-2020.1-216.conda
https://repo.anaconda.com/pkgs/main/win-64/vs2015_runtime-14.16.27012-hf0eaf9b_3.conda
https://repo.anaconda.com/pkgs/main/win-64/mkl-2020.1-216.conda
https://repo.anaconda.com/pkgs/main/win-64/vc-14.1-h0510ff6_4.conda
https://conda.anaconda.org/conda-forge/win-64/blosc-1.20.0-ha925a31_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/jpeg-9b-hb83a4c4_2.conda
https://repo.anaconda.com/pkgs/main/win-64/lz4-c-1.9.2-h62dcd97_1.conda
https://conda.anaconda.org/conda-forge/win-64/openssl-1.1.1g-he774522_1.tar.bz2
https://conda.anaconda.org/anaconda/win-64/portaudio-19.6.0-he774522_4.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/tk-8.6.10-he774522_0.conda
https://repo.anaconda.com/pkgs/main/win-64/xz-5.2.5-h62dcd97_0.conda
https://repo.anaconda.com/pkgs/main/win-64/zlib-1.2.11-h62dcd97_4.conda
https://repo.anaconda.com/pkgs/main/win-64/libpng-1.6.37-h2a8f88b_0.conda
https://repo.anaconda.com/pkgs/main/win-64/sqlite-3.32.3-h2a8f88b_0.conda
https://repo.anaconda.com/pkgs/main/win-64/zstd-1.4.5-h04227a9_0.conda
https://repo.anaconda.com/pkgs/main/win-64/freetype-2.10.2-hd328e21_0.conda
https://repo.anaconda.com/pkgs/main/win-64/libtiff-4.1.0-h56a325e_1.conda
https://repo.anaconda.com/pkgs/main/win-64/python-3.7.7-h81c818b_4.conda
https://conda.anaconda.org/anaconda/noarch/click-7.1.2-py_0.tar.bz2
https://conda.anaconda.org/anaconda/win-64/itsdangerous-1.1.0-py37_0.tar.bz2
https://conda.anaconda.org/anaconda/win-64/markupsafe-1.1.1-py37hfa6e2cd_1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/ninja-1.10.0-py37h7ef1ec2_0.conda
https://repo.anaconda.com/pkgs/main/win-64/olefile-0.46-py37_0.conda
https://conda.anaconda.org/anaconda/win-64/pyaudio-0.2.11-py37he774522_2.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/pycparser-2.20-py_2.conda
https://conda.anaconda.org/conda-forge/win-64/python_abi-3.7-1_cp37m.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/six-1.15.0-py_0.conda
https://conda.anaconda.org/anaconda/noarch/werkzeug-1.0.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/wincertstore-0.2-py37_0.conda
https://conda.anaconda.org/conda-forge/win-64/certifi-2020.6.20-py37hc8dfbb8_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/cffi-1.14.0-py37h7a1dbc1_0.conda
https://repo.anaconda.com/pkgs/main/win-64/mkl-service-2.3.0-py37hb782905_0.conda
https://repo.anaconda.com/pkgs/main/win-64/pillow-7.2.0-py37hcc1f983_0.conda
https://conda.anaconda.org/conda-forge/noarch/python-dotenv-0.14.0-pyh9f0ad1d_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/numpy-base-1.18.5-py37hc3f5095_0.conda
https://repo.anaconda.com/pkgs/main/win-64/setuptools-49.2.0-py37_0.conda
https://conda.anaconda.org/anaconda/noarch/jinja2-2.11.2-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/wheel-0.34.2-py37_0.conda
https://conda.anaconda.org/anaconda/noarch/flask-1.1.2-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pip-20.1.1-py37_1.conda
https://repo.anaconda.com/pkgs/main/win-64/mkl_fft-1.1.0-py37h45dec08_0.conda
https://repo.anaconda.com/pkgs/main/win-64/mkl_random-1.1.1-py37h47e9c7a_0.conda
https://repo.anaconda.com/pkgs/main/win-64/numpy-1.18.5-py37h6530119_0.conda
https://repo.anaconda.com/pkgs/main/win-64/python-blosc-1.7.0-py37he774522_0.conda
https://conda.anaconda.org/pytorch/win-64/pytorch-1.0.0-py3.7_cuda100_cudnn7_1.tar.bz2
https://conda.anaconda.org/pytorch/noarch/torchvision-0.2.1-py_2.tar.bz2
